#!/usr/bin/make -f

# See debhelper(7)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	# "You're going to need the DKMS addon.
	# But you're only going to compile the usr directory."
	# (The kernel module will not be compiled for the package.
	# Its source code will be included and DKMS will compile it
	# much later.)
	dh $@  --with=dkms --sourcedirectory=usr

override_dh_dkms:
	dh_dkms -V

