# Reminder: DKMS replaces "DEBIAN_PACKAGE" with "jool".
Source: DEBIAN_PACKAGE-dkms
Maintainer: Jool Team <jool@nic.mx>
Uploaders: Oswaldo Perez <oswaldo.perez.dominguez@gmail.com>,
	Alberto Leiva Popper <ydahhrk@gmail.com>
Section: net
Priority: optional
# TODO minimize this list; build-essential and friends can and should probably
# be omitted.
# TODO also "linux-headers-amd64" doesn't look portable. It is also strange
# because there's no such package in apt-cache search and my VM can't install it
# (maybe it's Debian-specific and not Ubuntu?).
# If it really is the way to go, you should probably list the corresponding
# headers for each arch.
Build-Depends: debhelper (>= 10),
	dkms,
	pkg-config,
	automake,
	linux-headers-amd64,
	build-essential,
	libnl-genl-3-dev (>= 3.1)
Standards-Version: 4.1.4.1
Homepage: https://jool.mx
Vcs-Browser: https://github.com/NICMx/Jool
Vcs-Git: https://github.com/NICMx/Jool.git

Package: DEBIAN_PACKAGE-dkms
# TODO this should be "any", but if I change it it stops working
# for some reason.
Architecture: all
Depends: ${misc:Depends}
Description: SIIT and NAT64 for Linux
 Jool is an Open Source implementation of IPv4/IPv6 Translation on
 Linux. It implements SIIT ("Stateless NAT64") and Stateful NAT64.

